[Unit]
Description=Tarot Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/taro_botr
ExecStart=/root/taro_botr/venv/bin/python /root/taro_botr/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
